
<link rel="stylesheet" href="/dhtmlxgantt.css" type="text/css" media="screen" title="no title" charset="utf-8">
<script src="/dhtmlxgantt.js" type="text/javascript" charset="utf-8"></script>

<div id="gantt_here"></div>
<script>
    if (params.view == "project" && params.key) {
        var ganttData = [];
        
        var project = pa.projects.find(function(p) {
            return p.localid == params.key;
        });

        ganttData.push(ganttConverters.project(project))
        
        var milestones = pa.milestones.filter(function(m) { 
            return m.projectid == project.id; 
        });
        $.each(milestones, function() {
            var milestone = this;
            
            ganttData.push(ganttConverters.milestone(milestone, project));

            var tasks = pa.tasks.filter(function(task) {
                return task.milestoneid == milestone.id;
            });
            
            $.each(tasks, function() {
                var task = this;
                ganttData.push(ganttConverters.task(task, milestone));
            });
        });
        
        initGantt("gantt_here", ganttData);
    }
    else {
        
    }
</script>