<p></p>
<div class="jumbotron">
    <h1>Hello, welcome to ProjectAccount-Gantt!</h1>
    <p>Login with your Google account to continue</p>
    <p><a class="btn btn-primary btn-lg" href="/auth/login" role="button"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Login</a></p>
</div>