<form action="/usertoken" method="POST">
    <h2>Hi, <%= req.user.displayName %></h2>
    <span>Please enter your API token, from your profile page in ProjectAccount: </span>
    <input type="text" width="50" name="usertoken">
    <input type="submit" value="Submit" class="btn btn-primary">
</form>