$navheight: 50px;

*, *:before, *:after {
    box-sizing: border-box;
}
body {
    margin: 0px;
    padding-top: $navheight;
}

.navbar-fixed-top {
    border: 0;
}

.main-content {
    height: calc(100% - #{$navheight});
}

.profile-image {
    max-width: 40px;
    max-height: 40px;
    margin: 5px;
    border-radius: 50%;
}